//output:../index.html
doctype html
html(ng-app="PxlApp")
  head
    link(href="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/10420306_956041791073977_4369156575810104616_n.jpg?oh=62e46cda4ac448d3e1b927bde96c8741&oe=572CA01E" rel="shortcut icon")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="description" content="")
    meta(name="author" content="Davincho")
    meta(name="copyright" content="Pixl88")
    meta(name="keywords" content="")
    
    link(href="lib/pxl-style.css", rel="stylesheet")
    link(href="lib/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
    link(href="lib/animate/animate.css", rel="stylesheet")
    title Full-slide-background
  body(ng-controller="pxlCtrl")
      div.col-sm-12.pxl-off-padding.pxl-full-w-h.pxl-info
        div.pxl-table
          div.pxl-cell
            div.pxl-logo.animated.fadeInDown
              img.pxl-img(src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/10420306_956041791073977_4369156575810104616_n.jpg?oh=62e46cda4ac448d3e1b927bde96c8741&oe=572CA01E")
                
      div.col-sm-12.pxl-off-padding.pxl-full-w-h.pxl-bk-carrousel
        div#bk-slides.carousel.slide(data-ride="carousel").pxl-full-w-h
          div.carousel-inner(role="listbox").pxl-full-w-h.pxl-slides

      
              
  script(type="text/javascript" src="lib/jquery/dist/jquery.min.js")
  script(type="text/javascript" src="lib/angular/angular.min.js")
  script(type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js")
  script(type="text/javascript" src="lib/js/pxl-js.js")
    
